requests
dload
python-telegram-bot
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tenacity
python-magic
wget
asyncio
pyrogram
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy
httplib2
humanfriendly
pySmartDL
youtube-dl
ffmpeg-python
futures
lxml
beautifulsoup4
psutil
pytube
myanmartools
lk21
opencv-python-headless
Pillow
hachoir
numpy
aiohttp
